* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Seção banner */
.banner {
	width: 100%;
	font-family: 'Ysabeau Infant', sans-serif;
}

.banner video {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cont {
	width: 200px;
	height: 200px;
	background-color: #000;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cont::before {
	content: "";
	width: 215px;
	height: 215px;
	position: absolute;
	background: linear-gradient(90deg, yellow, green);
	border-radius: 100%;
	z-index: -1;

}

.conteiner {
	width: 250px;
	margin: 0 auto;
	padding-top: 100px;
}

.conteiner-imagem {
	width: 230px;
	height: 230px;
}

.conteiner-imagem img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	object-fit: cover;
}

.conteiner-imagem img::before {
	content: "";
	width: 250px;
	height: 250px;
	position: absolute;
	background: linear-gradient(90deg, yellow, green);
	border-radius: 100%;
	z-index: -1;
}

.conteiner h1 {
	font-size: 36px;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
}

.conteiner h1::after {
	content: "";
	display: inline-block;
	background-image: url(img/verificado.png);
	width: 24px;
	height: 24px;
}

.links {
	width: 500px;
	margin: 0 auto;
	padding: 15px;

	display: flex;
	flex-direction: column;
}

.links a {
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 50px;
	margin: 5px 0;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-size: 18px;
}

.links a:hover {
	cursor: pointer;
	background-color: #fff;
	color: #000;
}

.youtube::before,
.instagram::before,
.x::before,
.face::before,
.twitch::before {
	content: "";
	display: inline-block;

	width: 40px;
	height: 40px;
}

.youtube::before {
	background-image: url(img/youtube.png);
	background-size: contain;
	background-position: 0 0;
}

.instagram::before {
	background-image: url(img/instagram.png);
	background-size: contain;
	background-position: 0 0;
}

.x::before {
	background-image: url(img/twitter.png);
	background-size: contain;
	background-position: 0 0;
}

.face::before {
	background-image: url(img/facebook.png);
	background-size: contain;
	background-position: 0 0;
}

.twitch::before {
	background-image: url(img/twitch.png);
	background-size: contain;
	background-position: 0 0;
}

/* Seção estatísticas */
.estatisticas {
	background-image: url(img/imagem-de-fundo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
}