* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ysabeau Infant', sans-serif;
}

.banner {
	width: 100%;
}

.conteiner-imagem {
	width: 300px;
	margin: 100px auto 0;
}

.conteiner-imagem img {
	width: 100%;
	height: 100%;
	margin-bottom: 25px;
	border-radius: 50%;
	object-fit: cover;
}

.conteiner-imagem h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	text-align: center;
}

.conteiner-imagem h1::after {
	content: "";
	display: inline-block;
	background-image: url(img/verificado.png);
	width: 24px;
	height: 24px;
}

.links {
	width: 500px;
	margin: 0 auto;
	padding: 15px;

	display: flex;
	flex-direction: column;
}

.links a {
	width: 100%;
	height: 50px;
	margin: 5px 0;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-size: 18px;
}

.youtube::before {
	content: "";
	display: inline-block;
	background-image: url(img/youtube.png);
	background-size: contain;
	background-position: 0 0;
	width: 40px;
	height: 40px;
}

.instagram::before {
	content: "";
	display: inline-block;
	background-image: url(img/instagram.png);
	background-size: contain;
	background-position: 0 0;
	width: 40px;
	height: 40px;
}

.x::before {
	content: "";
	display: inline-block;
	background-image: url(img/twitter.png);
	background-size: contain;
	background-position: 0 0;
	width: 40px;
	height: 40px;
}

.face::before {
	content: "";
	display: inline-block;
	background-image: url(img/facebook.png);
	background-size: contain;
	background-position: 0 0;
	width: 40px;
	height: 40px;
}

.twitch::before {
	content: "";
	display: inline-block;
	background-image: url(img/twitch.png);
	background-size: contain;
	background-position: 0 0;
	width: 40px;
	height: 40px;
}