.card_informacoes {
  width: 300px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border: 5px solid black;
  border-radius: 8px;
  color: black;
  font-weight: 600;
}

.card_informacoes p {
  width: 80%;
}
