.page {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container button {
    padding: 10px;
    font-size: 20px;
}

.bg_vermelho {
  width: 200px;
  height: 200px;
  background-color: red;
}

.bg_azul {
  width: 200px;
  height: 200px;
  background-color: blue;
}