.container_topo_principal {
  width: 100%;
  max-height: 5vh;
  padding: 20px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topo {
  width: 1024px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img_logo {
  width: auto;
  height: 50px;
}

.links {
  width: 250px;
  color: #000000;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}