.container_topo_principal {
  width: 100%;
  max-height: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topo {
  width: 1024px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

.img_logo {
  width: 50px;
  height: 50px;
}

.links {
  width: 300px;

  display: flex;
  justify-content: space-around;
}