.secao_capa {
  width: 100%;
  height: 90vh;
  background-image: url(../../../public/capa.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
}

.container_texto {
  color: white;
  width: 50%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
  padding: 20px;
}

.container_texto p {
  color: #c4c4c4;
}