* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

section {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.marize {
    width: 80%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.marize h2 {
    font-size: 16px;
    text-align: center;
}

#resposta {
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

#enter {
    background-color: #333;
    color: #fff;
    width: 70px;
    height: 30px;
    cursor: pointer;
}