.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 60px;
}

.main button {
  padding: 10px 20px;
}