.container {
    position: relative;
    left: 100px;
    top: 100px;
    max-width: 300px;
    background-color: rgb(0, 72, 75);
    padding: 10px;
}

.container ul {
    width: 300px;
    height: auto;
}

.container ul li {
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    width: 100px;
    height: auto;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    background-color: white;
}