.card {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 600;
  background-color: black;
}

.card figure {
  display: flex;
}


.card figure img {
  width: 60px;
  height: 60px;
}