:root {
    --cor-de-fundo-azul: #3487AE;
    --cor-de-fundo-escuro: #384F59;
    --cor-preto: #000;
    --cor-branco: #fff;
}

body {
    margin: 0px;
    font-family: Tahoma, sans-serif;
}

.secao1, .secao2, #sobre, #servicos, #barbeiros, #contato {
    padding: 30px 0px;
    text-align: center;
}

p {
    margin: 10px auto;
    padding: 0px 15px;
    max-width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

.secao1 {
    background-color: var(--cor-de-fundo-azul);
}

.logo {
    width: 150px;
}

.paragrafo1 {
    margin: 15px auto 25px auto;
    text-align: center;
}

.paragrafo1 a {
    font-size: 18px;
    color: var(--cor-preto);
    text-decoration: none;
    margin: 0px 10px;
}

.paragrafo1 a:hover {
    color: var(--cor-branco);
    border-bottom: 2px solid var(--cor-branco);
}

.secao2 {
    margin-top: 50px;
    padding-top: 0px;
}

span {
    font-weight: bold;
}

#sobre h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

.texto-azul {
    color: var(--cor-de-fundo-azul);
}

.subtitulo {
    color: var(--cor-de-fundo-azul);
    margin-top: 0px;
    font-weight: normal;
}

.imagem {
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 20px auto;
}

#servicos, #contato {
    background-color: var(--cor-de-fundo-escuro);
}

#servicos h2 {
    color: var(--cor-branco);
    font-size: 28px;
    line-height: 42px;
}

#servicos p {
    color: var(--cor-branco);
    line-height: 42px;
    font-size: 22px;
    text-align: justify;
    max-width: 700px;
}

.texto-amarelo {
    color: #fff81b;
}

.lista {
    margin: 40px auto;
    width: 135px;
}

.lista li {
    color: var(--cor-branco);
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

.texto-branco {
    color: var(--cor-branco);
}

#contato iframe {
    margin: 20px auto;
    max-width: 600px;
    width: 100%;
    border: none;
}   

#contato p {
    color: var(--cor-branco);
    background-color: var(--cor-de-fundo-escuro);
    padding: 15px;
    margin: 30px auto;
}

.lista2 {
    margin: 40px auto;
    width: 300px;
    list-style-type: none;

    display: flex;
    flex-direction: column;
}

.lista2 a {
    color: var(--cor-branco);
    padding: 10px 5px;
    border-radius: 5px;
}

.rodape {
    background-color: var(--cor-de-fundo-escuro);
    color: var(--cor-branco);
    padding: 20px 0px;
    font-size: 14px;
}

.rodape p {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.flutuante {
    position: fixed;
    bottom: 20px;
    right: 20px;
}