.card_signo_agua {
  width: 180px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
}

.card_signo_fogo {
  width: 180px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  background-color: red;
  color: #fff;
}

.card_signo_terra {
  width: 180px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  background-color: saddlebrown;
  color: #fff;
}

.card_signo_ar {
  width: 180px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: gainsboro;
  color: black;
}

.titulo_icone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card_signo h3 {
  font-weight: 600;
  font-size: 18px;
}

.card_signo img {
  flex: 1;
  width: 140px;
  height: 100px;
  padding: 8px;
  object-fit: contain;
  border-radius: 2px;
  border: 1px solid #734136;
  background-color: #fff;
}

.card_signo_agua img,
.card_signo_fogo img,
.card_signo_terra img,
.card_signo_ar img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 4px;
}

.card_signo_ar img {
  border: 1px solid black;
}

.icone {
  width: 30px;
  height: 30px;
} 

.card_signo span {
  font-size: 14px;
}