* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* seção topo */

.topo {
    background-color: #fff;
    width: 100%;
    padding: 35px 0px;
}

.grupo-topo {
    position: relative;
    width: 1024px;
    height: 70px;
    margin: 0px auto;
}

.grupo-topo img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
}

.topo h1 {
    position: absolute;
    top: 0;
    left: 10%;
    font-size: 32px;
    color:#000000;
}

.topo p {
    position: absolute;
    left: 10%;
    bottom: 0;
    font-size: 16px;
    color: #2f86d6;
}

.topo .links {
    position: absolute;
    width: 547px;
    right: 0;
    bottom: 0;
    text-align: center;
}

.topo .links a {
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
    color: #233032;
}

/* seção banner */

.banner {
    background-color: #2f86d6;
    width: 100%;
    padding: 180px 0px;
}

.grupo-banner {
    position: relative;
    width: 1024px;
    height: 456px;
    margin: 0px auto;
}

.grupo-banner .texto {
    position: absolute;
    width: 470px;
    height: 180px;
    top: 138px;
    left: 0;
}

.banner .texto h1 {
    font-size: 28px;
    color: #fff;
    padding-bottom: 30px;
}

.banner .texto p {
    font-size: 16px;
    color: #fff;
    padding-bottom: 20px;
}

.grupo-banner img {
    position: absolute;
    top: 0;
    right: 0;
}

/* seção 1º anúncio */

.primeiro-anuncio, .segundo-anuncio {
    width: 100%;
    color: #fff;
    padding: 40px 0px;
}

.primeiro-anuncio {
    background-color: #233032;
}

.texto-anuncio {
    position: relative;
    width: 1024px;
    min-height: 70px;
    margin: 0px auto;
}

.texto-anuncio h3 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}

.texto-anuncio p {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.texto-anuncio a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    text-align: center;
    background-color: #2f86d6;
    margin: 10px 0px;
    padding: 10px 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.texto-anuncio img {
    padding: 0px 10px;
}

/* seção informações */

#informacoes {
    background-color: #fff;
    width: 100%;
    padding: 100px 0px;
    /* height: 450px; */
    text-align: center;
}

#informacoes h2 {
    width: 900px;
    margin: 0px auto 20px auto;
    font-size: 32px;
}

#informacoes span {
    font-size: 32px;
    color: #2f86d6;
}

#informacoes .imagens {
    width: 1024px;
    white-space: nowrap;
    border: 2px solid;
    margin: 0px auto;
    text-align: center;
}

.imagens .info {
    display: inline-block;
    background-color: beige;
    width: 250px;
    height: 200px;
    margin: 25px auto;
    padding: 15px;
    text-align: center;
}

#informacoes img {
    width: 100px;
    height: 100px;
}

#informacoes h3 {
    font-size: 18px;
}

#informacoes p {
    font-size: 16px;
}

/* seção 2º anúncio */

.segundo-anuncio {
    background-color: #2f86d6;
}

.texto-anuncio .tabela2 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    text-align: center;
    background-color: #233032;
    margin: 10px 0px;
    padding: 10px 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.texto-anuncio img {
    padding: 0px 10px;
}

/* seção planos */

.tabela-planos {
    width: 100%;
    text-align: center;
}

.tabela-planos table {
    width: 1024px;
    padding: 100px 0px;
}

/* seção rodapé */

.rodape {
    width: 100%;
    text-align: center;
}