* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* seção topo */

.topo {
    background-color: #2f86d6;
    color: #fff;
    width: 100%;
    padding: 35px 0px;
}

.grupo-topo {
    position: relative;
    width: 1024px;
    height: 70px;
    margin: 0px auto;
}

.grupo-topo img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
}

.topo h1 {
    position: absolute;
    top: 0;
    left: 10%;
    font-size: 32px;
    color:#000000;
}

.topo p {
    position: absolute;
    left: 10%;
    bottom: 0;
    font-size: 16px;
    color: #fff;
}

.topo .links {
    position: absolute;
    width: 547px;
    right: 0;
    bottom: 0;
    text-align: center;
}

.topo .links a {
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

/* seção rodapé */

.rodape {
    width: 100%;
    text-align: center;
    background-color: #2f86d6;
}

.logo {
    position: relative;
    min-width: 350px;
    max-width: 400px;
    height: 100px;
    top: 10px;
    margin: 0px auto 30px;
}

.logo img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 15px;
    left: 0px;
}

.logo h1 {
    position: absolute;
    top: 15px;
    left: 110px;
    font-size: 32px;
    color: #000000;
}

.logo p {
    position: absolute;
    bottom: 15px;
    left: 110px;
    font-size: 16px;
    color: #fff;
}

.secao-contatos {
    color: #fff;
    width: 1024px;
    margin: 0px auto;
    font-size: 16px;
}

.secao-contatos p {
    padding: 10px 0px;
}

.rodape .dev {
    background-color: #f1f3f7;
    padding: 10px 0px;
}

.rodape .dev span {
    font-style: italic;
    color: #2f86d6;
}