* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* seção topo */
.conteiner-topo {
    background-color: rgb(82, 151, 151);
}

.conteiner-conteudo-topo {
    max-width: 1024px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner-conteudo-topo a {
    width: 200px;
    height: 100px;
}

.links-topo a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.links-topo a:hover {
    color: #000;
}

/* seção conteúdo */
.conteiner-imagem-fundo {
    background-image: url(../imagens/recepcao.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.conteiner-imagem-fundo h1 {
    max-width: 1024px;
    height: 100vh;
    margin: 0 auto;
    color: #fff;

    display: flex;
    align-items: center;
}

.conteiner-sobre {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-texto {
    width: 600px;
    text-align: center;
}

.conteiner-texto h2 {
    padding: 50px;
}

.conteiner-lista {
    width: 600px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner-lista h3 {
    padding: 30px 5px;
}

.lista {
    width: 100%;
    margin-right: 0;
    text-align: left;
}