* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.conteiner-topo {
    background-color: rgb(9, 207, 207);
}

.conteiner-conteudo-topo {
    max-width: 1024px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteiner-conteudo-topo a {
    width: 200px;
    height: 100px;
}

.links-topo a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.links-topo a:hover {
    color: #000;
}