@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.dark_mode {
  background-color: #252323;
}

.dark_mode .header_container .img {
  filter: invert(1) brightness(2);
}

.dark_mode .header_container button {
  color: white;
}

.dark_mode .main_container .text h1 {
  color: white;
}

.dark_mode .main_container .text p {
  color: white;
}

.header_container {
  width: 100%;
  max-width: 1024px;
  height: 10vh;
  padding: 0 20px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_container button {
  font-size: 30px;
  border-radius: 25px;
  border-color: #B2987D;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.header_container .img {
    width: 100px;
    height: 100px;
}

.main_container { /* container principal */
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner { /* primeira seção */
    width: 100%;
    height: 30vh;

    background-image: url(../../public/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text { /* segunda seção */
  max-width: 900px;
  height: 60vh;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.main_container .text h1 {
  font-size: 40px;
}

.main_container .text p {
  font-size: 18px;
}

.text_bold {
    font-weight: 700;
}

.assinatura {
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: #B2987D;
}

/* Projeto responsivo, adaptado aos diferentes tamanhos de tela */
/* 1024px - laptop, 768px - tablet, 425px - mobile*/

@media (max-width: 425px) {
    .text h1 {
        padding: 25px;
    }
}
