* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

.EditTodo {
    display: none;
}

.EditTodo.active {
    display: flex;
}

.notification {
    position: absolute;
    top: 7px;
    right: -100%;
    background: #76cbff;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    font-family: 'Arial', sans-serif;
    color: white;
    width: auto;
    transition: all 0.5s ease;
}

.notification.active {
    right: 0%;
}