body {
    background-color: white;
    color: #000;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}

div {
    background-color: #f5f5f5;    
    border-top: 1px solid #d5d5d5;
    padding: 50px;
    text-align: center;
}

span {
    font-weight: bold;
}