.secao_produtos {
  background-color: #fff;
  width: 100%;
  height: 90vh;
  padding: 100px 20px;
  gap: 20px;
}

.container_produtos_card {
  background-color: #000000;
  max-width: 1024px;
  
  display: flex;
  align-items: center;
}

.card {
  flex: 1 1 400px;
  padding: 20px 10px;
  box-shadow: 2px 2px 20px 4px;
  background-color: #f6f6f6;
}

/* .img_card {
  max-width: 200px;
  max-height: 100px;
} */