.secao_cards {
  width: 100%;
  max-width: 1024px;
  min-height: 80vh;
  padding: 100px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}